*.pro
*.pro.user
*.pro.user*
build*
build-*
*.o
*.so
*.a
*.so.*
result.txt
experiments_bash/results
docker/results/
dataset/data/Replica/
dataset/data/TUM/
dataset/Replica/
dataset/TUM/
imgui.ini
site/
docs/api/html/
docs/api/latex/
docs/api/xml/
