*.pro
*.pro.user
*.pro.user*
build*
build-*
*.o
*.so
*.a
*.so.*
result.txt
experiments_bash/results
imgui.ini
images_out/
logs/
mats/
build/
build-*/
bin/
dataset/Replica/
dataset/TUM/
dataset/Scannet/
dataset/*.zip
dataset/*.tgz
dataset/*.tar
dataset/*.tar.gz
*.pyc
__pycache__/
.ipynb_checkpoints/
