*.pro
*.pro.user
*.pro.user*
build*
build-*
*.o
*.so
*.a
*.so.*
result.txt
experiments_bash/results
imgui.ini
images_out/
logs/
mats/
build/
build-*/
bin/
dataset/Replica/
dataset/TUM/
dataset/Scannet/
dataset/Christian/
dataset/kitchen1/
dataset/table1/
dataset/workshop1/
dataset/tableware1/
dataset/floor2/
dataset/floor3/
dataset/table1_slam/
dataset/workshop1_slam/
dataset/kitchen1_slam/
dataset/*.zip
dataset/*.tgz
dataset/*.tar
dataset/*.tar.gz
*.pyc
__pycache__/
.ipynb_checkpoints/
